In [1]:
!pip install Faker
!pip install names-dataset

Requirement already satisfied: Faker in /home/amir/anaconda3/envs/PyMlPro/lib/python3.10/site-packages (14.2.0)
Requirement already satisfied: python-dateutil>=2.4 in /home/amir/anaconda3/envs/PyMlPro/lib/python3.10/site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/amir/anaconda3/envs/PyMlPro/lib/python3.10/site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Requirement already satisfied: names-dataset in /home/amir/anaconda3/envs/PyMlPro/lib/python3.10/site-packages (3.1.0)
Requirement already satisfied: pycountry in /home/amir/anaconda3/envs/PyMlPro/lib/python3.10/site-packages (from names-dataset) (22.3.5)
Requirement already satisfied: setuptools in /home/amir/anaconda3/envs/PyMlPro/lib/python3.10/site-packages (from pycountry->names-dataset) (63.4.1)

In [1]:
from faker import Faker
from names_dataset import NameDataset
import pandas as pd
import numpy as np

# Load Data

In [2]:
en_fake = Faker()
fa_fake = Faker('Fa')

In [11]:
nd = NameDataset()

In [4]:
def make_name():
    if np.random.rand() > 0.5:
        return en_fake.name()
    return fa_fake.name()

In [32]:
df = pd.DataFrame({
    'Name': [make_name() for _ in range(10)]
})

In [33]:
df.head(3)

             Name
0   David Johnson
1  هستی میردامادی
2   ريحانه صنایعی

# Extract First name and Last name

In [7]:
def get_fname_lname(name):
    first_name, *_, last_name = name.split()
    return first_name, last_name

In [34]:
df['Last Name'] = df['Name'].apply(
    lambda Name: Name.split()[1]
)

In [35]:
df['First Name'] = df['Name'].apply(
    lambda Name: Name.split()[0]
)

In [36]:
df.head(2)

             Name  Last Name First Name
0   David Johnson    Johnson      David
1  هستی میردامادی  میردامادی       هستی

# Predict Gender

In [37]:
def name_to_gender(first_name):
    if not isinstance(first_name, str):
        return
    
    info = nd.search(first_name)['first_name']
    if info is None:
        return
    

    return max(info['gender'], key=info['gender'].get)

In [39]:
df['Gender'] = df['First Name'].apply(name_to_gender)

# Predict Country

In [65]:
def name_to_country(first_name):
    if not isinstance(first_name, str):
        return
    
    info = nd.search(first_name)['first_name']
    if info is None:
        return
    

    return max(info['country'], key=info['country'].get),info.values()

In [66]:
df['Country'] = df['First Name'].apply(name_to_country)

In [67]:
df

,Name,Last Name,First Name,Gender,Country
0,David Johnson,Johnson,David,Male,United States
1,هستی میردامادی,میردامادی,هستی,Female,"Iran, Islamic Republic of"
2,ريحانه صنایعی,صنایعی,ريحانه,Female,Iraq
3,جناب آقای دکتر احسان قاضی,آقای,جناب,Male,Egypt
4,Lisa Wolf,Wolf,Lisa,Female,United States
5,جناب آقای دکتر عرفان نیلوفری,آقای,جناب,Male,Egypt
6,ساميار ترکاشوند,ترکاشوند,ساميار,None,None
7,Cassandra Perkins,Perkins,Cassandra,Female,United States
8,Steven Reese,Reese,Steven,Male,United States
9,Jason Smith,Smith,Jason,Male,United States